* {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
}

.container-sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home {
    margin: 10px 0;
}

.home__icono {
    color: white;
    font-size: 50px;
    text-align: center;
}

.home__icono:hover {
    cursor: pointer;
}

.menu_item:hover {
    text-decoration: none;
}

.menu {
    background-color: #1A2226;
    font-size: 14px;
    padding: 12px 5px 12px 15px;
}

.menu__icon-left {
    color: white;
    font-size: 14px;
}

.menu__titulo {
    padding-left: 10px;
    color: white;
    text-align: left;
}

.menu__icon-right {
    color: white;
    font-size: 14px;
}

.container-sub-menu {
    background-color: #2C3B41;
    padding-left: 5px;
}

.sub-menu { 
    font-size: 14px;
    padding: 5px 5px 5px 15px;
    text-decoration: none;
    cursor: pointer;
    background-color: #373A3C;
}

.sub-menu:hover {
    background-color: #52585D;
}

.sub-menu__icono {
    color: white;
}

.sub-menu__titulo {
    color: white;
    padding-left: 10px;
}

.btn-salir {
    display: flex;
    padding: 12px 5px 12px 15px;
    background-color: #B0132B;
    border: 0;
    border-radius: 0;
    color: white;
}

.btn-salir:hover {
    cursor: pointer;
}

.icon-salir {
    display: flex;
    align-items: center;
    height: 100%;
}

.text-salir {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 10px;
}