<div class="modal-header">
	<h5 class="modal-title">Imprimir/Descargar boletines</h5>
	<button
	  	type="button"
	  	class="close"
	  	aria-label="Close"
	  	(click)="activeModal.dismiss('Cross click')">
	  	<span aria-hidden="true">&times;</span>
	</button>
</div>

<div class="modal-body">
    <div class="container-btn">
        <button
            class="btn btn btn-primary mr-1"
            [disabled]="!checkboxSelected()"
            (click)="printBoletines()">
            <i class="fa fa-print" aria-hidden="true"></i> Imprimir
        </button>
        <button
            class="btn btn btn-success"
            [disabled]="!checkboxSelected()"
            (click)="downloadBoletines()">
            <i class="fa fa-download" aria-hidden="true"></i> Descargar
        </button>
    </div>

    <div class="table-responsive tableFixHead">
        <table class="table table-sm table-hover">
            <thead class="text-white encabezados-tabla">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Documento</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col" class="text-center">Selección</th>
                </tr>
            </thead>
    
            <tbody class="contenido-tabla">
                <tr *ngFor="let estudiante of estudiantes; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ estudiante.persona.documento }}</td>
                    <td>{{ estudiante.persona.primer_nombre }} {{ estudiante.persona.segundo_nombre }}</td>
                    <td>{{ estudiante.persona.primer_apellido }} {{ estudiante.persona.segundo_apellido }}</td>
                    <td class="text-center">
                        <input name="imprimirBoletines" type="checkbox"
                               [(ngModel)]="getCheckBoxEstudiante(estudiante.id).checked">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
