<div class="administracion">
	<div class="contenedor_titulo">
		<h4 class="administracion__titulo">Gestión de docentes</h4>
	</div>
	<div class="contenedor_agregar">
		<button
			class="administracion__agregar btn btn-outline-dark"
			(click)="open(content)">
			Crear docente
		</button>
	</div>
</div>
<hr>

<app-listar-docente (editar)="editar($event, content)"></app-listar-docente>

<ng-template #content let-modal>
	<div class="modal-header">
		<h6 class="modal-title" id="modal-basic-title">
			Registro de docentes
		</h6>
		<button
			type="button"
			class="close"
			aria-label="Close"
			(click)="modal.dismiss()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
		
	<div class="modal-body">
		<app-form-docente></app-form-docente>
	</div>
</ng-template>