<form
    [formGroup]="formArea"
    (ngSubmit)="sendFormArea()"
    autocomplete="off">

    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input
            type="text"
            class="form-control"
            id="nombre"
            aria-describedby="emailHelp"
            placeholder="Nombre de area"
            id="nombre"
            name="nombre"
            formControlName="nombre">    
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <textarea
                class="form-control"
                id="descripcion"
                name="descripcion"
                formControlName="descripcion"
                rows="4"
                placeholder="Por favor, ingrese la descripción del area">
            </textarea>
        </div>
    </div>
    
    <div class="form-group">
        <button
            type="submit"
            [disabled]="formArea.invalid"
            class="btn btn-primary col-md-12">
            Guardar
        </button>
    </div>
</form>