<div *ngIf="matriculaService.shouldCreate$ | async">
    <app-search-persona
        (numeroDocumento)="handleNumeroDocumento($event)">
    </app-search-persona>
    <hr>
</div>

<app-form-persona
    [rolList]="roles$"
    (statusForm)="handleStatusForm($event)"
    [button]="button">
</app-form-persona>

<div class="row">
    <button
        *ngIf="matriculaService.shouldCreate$ | async"
        class="btn btn-danger col"
        [ngClass]="{'mr-1': matriculaService.shouldCreate$ | async}"
        (click)="resetFormPersona()">
        Limpiar formulario
    </button>
    <button
        class="btn btn-primary col"
        [disabled]="statusForm"
        (click)="handleChangeTab()">
        Siguiente
    </button>
</div>