<div class="container_reportes">
    <div>
        <h4>Reportes</h4>
    </div>

    <div class="form-group col-md-2 container-control">
        <select
            class="form-control form-control-sm"
            name="ctrTipoReporte"
            [formControl]="ctrTipoReporte"
            (ngModelChange)="handleTipoReporte($event)">
            <option value="null" disabled selected>Seleccione tipo de reporte</option>
            <option
                *ngFor="let tipoReporte of tiposReportes"
                [ngValue]="tipoReporte">
                {{ tipoReporte.nombre }}
            </option>
        </select>
    </div>
</div>

<hr>

<div [ngSwitch]="tipoReporte.nombre">
    <app-boletin *ngSwitchCase="TIPOS_REPORTES.BOLETINES.nombre"></app-boletin>
    <app-consolidado *ngSwitchCase="TIPOS_REPORTES.CONSOLIDADOS.nombre"></app-consolidado>
    <div *ngSwitchDefault>
        <ngb-alert [dismissible]="false" [type]="'info'">
            <strong>Nota!</strong> Es necesario que seleccione un tipo de reporte.
        </ngb-alert>
    </div>
</div>
