<form
    [formGroup]="formCarAcadDocente"
    (ngSubmit)="sendFormCarAcadDocente()"
    autocomplete="off"
    class="form">
    <h5 class="h5">Crear/Editar cargas academicas</h5>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="sede">Sede</label>
            <select 
                class="form-control form-control-sm"
                id="sede"
                name="sede"
                formControlName="sede"
                (ngModelChange)="handleSede($event)"
                [compareWith]="compareFn">
                <option value="null" selected disabled>Seleccione sede</option>
                <option
                    *ngFor="let sede of sedes$ | async"
                    [ngValue]="sede">
                    {{ sede.nombre }}
                </option>
            </select>
        </div>
        
        <div class="form-group col-md-6">
            <label for="anio_lectivo">Año lectivo</label>
            <select
                class="form-control form-control-sm"
                id="anio_lectivo"
                name="anio_lectivo"
                formControlName="anio_lectivo"
                [compareWith]="compareFn">
                <option
                    *ngFor="let anioLectivo of aniosLectivos$ | async"
                    [ngValue]="anioLectivo">
                    {{ anioLectivo.anio_actual }}
                </option>
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="grado">Grado</label>
            <select 
                class="form-control form-control-sm"
                id="grado"
                name="grado"
                formControlName="grado"
                (ngModelChange)="handleGrado($event)"
                [compareWith]="compareFn">
                <option value="null" selected disabled>Seleccione grado</option>
                <option
                    *ngFor="let grado of grados$ | async"
                    [ngValue]="grado">
                    {{ grado.grado }}
                </option>
            </select>
        </div>

        <div class="form-group col-md-6">
            <label for="grupo">Grupo</label>
            <select 
                class="form-control form-control-sm"
                id="grupo"
                name="grupo"
                formControlName="grupo"
                [compareWith]="compareFn">
                <option value="null" selected disabled>Seleccione grupo</option>
                <option
                    *ngFor="let grupo of grupos$ | async"
                    [ngValue]="grupo">
                    {{ grupo.grupo.descripcion }}
                </option>
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="materia">Materia</label>
            <select 
                class="form-control form-control-sm"
                id="materia"
                name="materia"
                formControlName="materia"
                [compareWith]="compareFn">
                <option value="null" selected disabled>Seleccione materia</option>
                <option
                    *ngFor="let materia of materias$ | async"
                    [ngValue]="materia.materia">
                    {{ materia.materia.nombre }}
                </option>
            </select>
        </div>

        <div class="form-group col-md-6">
            <label for="periodo">Periodo</label>
            <select
                multiple
                class="custom-select custom-select-sm"
                id="periodo"
                name="periodo"
                formControlName="periodo"
                [compareWith]="compareFn">
                <option value="null" selected disabled>Seleccione periodo(s)</option>
                <option
                    *ngFor="let periodo of periodos$ | async"
                    [ngValue]="periodo">
                    {{ periodo.numero }} - {{ periodo.fecha_inicio }} / {{ periodo.fecha_finalizacion }}
                </option>
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="fecha_registro">Fecha de registro</label>
            <div class="input-group">
                <input
                    type="text"
                    class="form-control form-control-sm"
                    placeholder="yyyy-mm-dd"
                    ngbDatepicker
                    #d="ngbDatepicker"
                    id="fecha_registro"
                    name="fecha_registro"
                    formControlName="fecha_registro"
                    (dateSelect)="onDateSelect($event)">
                <div class="input-group-append">
                    <button 
                        class="calendario btn btn-outline-primary form-control-sm"
                        (click)="d.toggle()"
                        type="button">
                        <i class="fa fa-calendar"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="form-row">
        <button
            *ngIf="planDocenteService.shouldCreate$ | async"
            class="btn btn-danger col mx-1"
            type="button"
            (click)="resetFormCarAcadDocente()">
            Limpiar formulario
        </button>
        <button
            class="btn btn-primary col"
            type="submit"
            [disabled]="formCarAcadDocente.invalid">
            Guardar
        </button>
    </div>
</form>

<ng-template #loading>
    <div class="d-flex flex-column justify-content-center align-items-center h-100">
        <div class="spinner-border" role="status" aria-hidden="true"></div>
        <h4 class="h4"><strong>Cargando...</strong></h4>
    </div>
</ng-template>