<form autocomplete="off">
    <div class="form-row busqueda">
        <div class="col-6 busqueda__campo">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                </div>
                <input
                    type="text"
                    class="form-control"
                    [formControl]="filter"
                    placeholder="Nombre del area">
            </div>
        </div>

        <div class="col-3 seleccion">
            <select
                class="form-control form-control-sm"
                [(ngModel)]="areaService.pageSize"
                name="seleccion"
                (change)="onChange($event.target.value)">
                <option [value]="10">10 registros</option>
                <option [value]="15">15 registros</option>
                <option [value]="20">20 registros</option>
            </select>
        </div>
    </div>
</form>

<div class="table-responsive tableFixHead">
	<table class="table table-sm table-striped">
        <thead class="encabezados-tabla">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Area</th>
                <th scope="col">Descripción</th>
                <th class="text-center" scope="col">Acción</th>
			</tr>	
        </thead>
    
        <tbody class="contenido-tabla" *ngIf="(areas$ | async)?.length > 0">
            <tr *ngFor="let area of (areas$ | async); index as i">
                <th scope="row">{{ area.index }}</th>
                <td>
                    <ngb-highlight 
                        [highlightClass]="'resaltar'"
                        [result]="area.nombre"
                        [term]="filter.value">
                    </ngb-highlight>
                </td>
                <td>{{ area.descripcion }}</td>
                <td class="text-center">
                    <button
                        class="btn btn-info btn-sm mr-1"
                        (click)="updateArea(area)"
                        placement="left"
                        ngbTooltip="Actualizar área">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button
                        class="btn btn-danger btn-sm"
                        (click)="destroyArea(area)"
                        placement="right"
                        ngbTooltip="Eliminar área">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>  
        </tbody>
    </table>
</div>

<div class="d-flex flex-column justify-content-center align-items-center" *ngIf="areaService.loading$ | async">
    <div class="spinner-border" role="status" aria-hidden="true"></div>
    <strong class="text-dark">Cargando...</strong>
</div>

<ngb-alert
    *ngIf="((collectionSize$ | async) === 0) && areaService.searchTerm != ''"
    [type]="'warning'"
    [dismissible]="false">
    No se encontraron resultados para el termino: "{{ areaService.searchTerm }}"
</ngb-alert>

<div class="d-flex justify-content-between p-2">
    <ngb-pagination
        [collectionSize]="collectionSize$ | async"
        [(page)]="areaService.page"
        [pageSize]="areaService.pageSize"
        (pageChange)="onPageChange($event)"
        [maxSize]="5"
        [rotate]="true"
        [ellipses]="false"
        [boundaryLinks]="true">
    </ngb-pagination>

    <div *ngIf="(collectionSize$ | async) === 0; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
        <div>Mostrando 0 a 0 de 0 resultados</div>
    </ng-template>
    <ng-template #elseBlock>
        <div>Mostrando {{ (offset$ | async) + 1 }} a {{ validateOffset() }} de {{ collectionSize$ | async }} resultados</div>
    </ng-template>
</div>