.seleccion {
    margin-bottom: 10px;
    width: 100%;
}

.contenido-tabla {
    font-size: 14px;
}

.encabezados-tabla tr th {
    color: white;
    font-size: 14px;
    background-color: #373A3C;
    // height: 38px;
}

.tableFixHead { overflow-y: auto; height: 427px; }
.tableFixHead thead th { position: sticky; top: 0; }

.btn-sm {
    font-size: 10px;
}

.director-grupo {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 758px) {
    .seleccion {
        margin: 0;
        width: 30%;
    }
}